# GA credentials for backend
export GOOGLE_APPLICATION_CREDENTIALS="/path/to/your/gcp-key.json"

# Tailscale API Credentials
export TF_VAR_tailscale_oauth_client_id="your_client_id"
export TF_VAR_tailscale_oauth_client_secret="your_client_secret"

# K3s Security
export TF_VAR_k3s_token="a_very_long_random_string_12345"

# SSH Credentials for the initial bootstrap
export TF_VAR_ssh_user="your_username"
export TF_VAR_ssh_key_path="~/.ssh/id_rsa"
