# GA credentials for backend
export GOOGLE_APPLICATION_CREDENTIALS="/path/to/your/gcp-key.json"

# Tailscale API Credentials
export TAILSCALE_OAUTH_CLIENT_ID="your_client_id"
export TAILSCALE_OAUTH_CLIENT_SECRET="your_client_secret"
